{{#each this}}
<h2 class="name-country">{{name}}</h2>
<li style="display: flex;">

    <ul>
        <li class="capital">Capital:{{capital}}</li>
        <li class="population">Population:{{population}}</li>
        <li>
            <ul>
                <p class="lang-title">languages :</p>
                {{#each languages}}
                <li class="lang-item">{{this.nativeName}}</li>
                {{/each}}
            </ul>
        </li>

    </ul>
    <img class="img-flag" src="{{flag}}" alt="" width="300" height="250">
</li>
{{/each}}